<div *ngIf="!isExist" class="container bg-main-light p-4 border shadow-sm rounded my-5">
    <h4 class="my-3 fw-bold">Shop Cart</h4>
    <p class="text-main font-sm fw-bold border-bottom pb-3">Total Price : {{cartItems?.totalCartPrice|addprice}}</p>
    <div *ngFor="let cartItem of cartItems?.products" class="row align-items-center p-2 border-bottom pb-3">
        <div class="col-md-1">
            <div>
                <img class="w-100 img-thumbnail" [src]="cartItem.product.imageCover" [alt]="cartItem.product.title">
            </div>
        </div>
        <div class="col-md-11">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-1 fs-4">{{cartItem.product.title | titleSlice: 4}}</p>
                    <p class="fw-bold font-sm text-main mb-1">Price : {{cartItem.price|addprice}}</p>
                    <button (click)="removeCartItem(cartItem.product._id)" class="btn m-0 p-0 fw-bold">
                        <i class="fa-regular fa-trash-can text-main"></i>
                        Remove
                    </button>
                </div>
                <div>
                    <button (click)="updateCartItem(cartItem.product._id, cartItem.count+1)" class="border-main rounded">+</button>
                    <span class="mx-3">{{cartItem.count}}</span>
                    <button (click)="updateCartItem(cartItem.product._id, cartItem.count-1)" class="border-main rounded">-</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <a [routerLink]="['/shippingAddress',cartItems?._id]"  class="btn bg-main text-white">
            Online Payments
            <img src="assets/images/visa-1.svg" class="mx-1" width="30px" alt="payment image">
        </a>
        <button (click)="clearCartItems()" class="btn bg-main text-light">Clear Cart</button>
    </div>
</div>
<div *ngIf="isExist" class="container bg-main-light p-4 border shadow-sm rounded my-5">
    <p class="text-center text-black m-0">No Cart Items Found.</p>
</div>