<div class="bg-body-tertiary">
    <div class="container py-4">
        <h3>Get The FreshCart App</h3>
        <p>We will send you a link, open it on your phone to download the app</p>
        <div class="row">
            <div class="col-lg-10">
                <input type="email" name="email" class="form-control" autocomplete="off" placeholder="Email ..">
            </div>
            <div class="col-lg-2 mt-2 mt-lg-0">
                <button class="btn bg-main text-light px-3">Share App Link</button>
            </div>
        </div>
        <hr />
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <p class="m-0">Payments Partners</p>
                <ul class="list-unstyled d-flex align-items-center ms-3 mb-0">
                    <li class="p-2"><i class="fab fa-amazon-pay fs-4"></i></li>
                    <li class="p-2"><img class="w-100" src="assets/images/master.svg" alt="master-icon"></li>
                    <li class="p-2 fw-bolder"><i class="fab fa-paypal fs-4 text-primary"></i>Pay<span class="text-primary">Pal</span></li>
                </ul>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <p class="m-0 me-2">Get deliveries with FreshCart</p>
                <div class="app-store-button me-2">
                    <i class="fa-brands fa-apple"></i>
                    <div>
                        <span class="fs-small">Available on the</span>
                        <p class="m-0 font-xsm">App Store</p>
                    </div>
                </div>
                <div class="app-store-button">
                    <img src="assets/images/google-store.svg" alt="google-store">
                    <div>
                        <span class="fs-small">GET IT ON</span>
                        <p class="m-0 font-xsm">Google Play</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>