.navbar-nav .nav-link.active {
  color: #0aad0a;
}
.nav-link {
  position: relative;
  text-align: center;
}
.nav-link:hover {
  color: #0aad0a;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 8px;
  width: 0px;
  height: 2px;
  background: #0aad0a;
  transition: width 400ms;
}

@media (min-width: 1200px) {
  .nav-link:hover::before,
  .nav-link.active::before {
    width: calc(100% - 16px);
  }
}