<div class="for-forms mx-auto my-4">
    <h4 class="fw-bold text-main text-center">Forget Password</h4>
    <p class="alert alert-danger text-center" *ngIf="errorMessage">{{errorMessage}}</p>
    <p class="mb-0 mt-2 text-secondary font-sm">Please enter your email address below. We will send you a verification code to reset your password.</p>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="handleForgetPassword(forgetPasswordForm)">
        <label for="email" class="mt-2">email:</label>
        <input type="email" name="email" id="email" class="form-control" formControlName="email" autocomplete="off">
        <div class="text-danger" *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.dirty">
            <p class="my-0" *ngIf="forgetPasswordForm.get('email')?.getError('required')">email is required</p>
            <p class="my-0" *ngIf="forgetPasswordForm.get('email')?.getError('email')">enter a valid email</p>
        </div>

        <div class="d-flex justify-content-end align-items-center mt-3">
            <button class="btn bg-main text-light" [disabled]="forgetPasswordForm.invalid || isLoading">
                <span *ngIf="!isLoading">Send</span>
                <span *ngIf="isLoading" class="fas fa-spinner fa-spin"></span>
            </button>
        </div>
    </form>
</div>