<div *ngIf="!isExist" class="container bg-main-light p-4 border shadow-sm rounded my-5">
    <h4 class="my-3 fw-bold border-bottom pb-3">My WishList</h4>
    <div *ngFor="let wishlist of allWishList" class="row align-items-center p-2 border-bottom pb-3">
        <div class="col-md-1">
            <div>
                <img class="w-100 img-thumbnail" [src]="wishlist.imageCover">
            </div>
        </div>
        <div class="col-md-11">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-1 fs-4">{{wishlist.title | titleSlice: 4}}</p>
                    <p class="fw-bold font-sm text-main mb-1">Price : {{wishlist.price | addprice}}</p>
                    <button (click)="removeWishlistItem(wishlist._id)" class="btn m-0 p-0 fw-bold">
                        <i class="fa-regular fa-trash-can text-main"></i>
                        Remove
                    </button>
                </div>
                <div>
                    <button (click)="addItemToCart(wishlist._id)" class="btn bg-main text-white mt-3 font-xsm"><i class="fa-solid fa-plus"></i> AddToCart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isExist" class="container bg-main-light p-4 border shadow-sm rounded my-5">
    <p class="text-center text-black m-0">No WishList Items Found.</p>
</div>