<app-home-main-carousel></app-home-main-carousel>
<app-home-categories-carousel></app-home-categories-carousel>
<div class="row g-2">
    <h2 class="fw-bold">Popular Items This Season</h2>
    <div *ngFor="let currentProduct of allProducts" class="col-sm-6 col-md-4 col-lg-3 col-xl-2 overflow-hidden">
        <app-product [product]="currentProduct"></app-product>
    </div>
    <!-- <div class="mt-3 text-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
    </div> -->
</div>