<div class="for-forms mx-auto my-4">
    <h4 class="fw-bold text-main text-center">Change Password</h4>
    <p class="alert alert-danger text-center" *ngIf="errorMessage">{{errorMessage}}</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="handleChangePassword()">
        <label for="currentPassword" class="mt-2">Current Password:</label>
        <input type="password" name="currentPassword" id="currentPassword" class="form-control" formControlName="currentPassword" autocomplete="off">
        <div class="text-danger" *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.dirty">
            <p class="my-0" *ngIf="changePasswordForm.get('currentPassword')?.getError('required')">Current Password is required</p>
            <p class="my-0" *ngIf="changePasswordForm.get('currentPassword')?.getError('pattern')">Current Password is incorrect</p>
        </div>

        <label for="password" class="mt-2">password:</label>
        <input type="password" name="password" id="password" class="form-control" formControlName="password">
        <div class="text-danger" *ngIf="changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.dirty">
            <p class="my-0" *ngIf="changePasswordForm.get('password')?.getError('required')">password is required</p>
            <p class="my-0" *ngIf="changePasswordForm.get('password')?.getError('pattern')">password must start with uppercase letter followed by 5 digits</p>
        </div>

        <label for="rePassword" class="mt-2">rePassword:</label>
        <input type="password" name="rePassword" id="rePassword" class="form-control" formControlName="rePassword">
        <p class="text-danger my-0" *ngIf="changePasswordForm.getError('passMisMatch') && changePasswordForm.get('password')?.dirty && changePasswordForm.get('rePassword')?.dirty">password and rePassword doesn't match</p>

        <div class="d-flex justify-content-end align-items-center mt-3">
            <button class="btn bg-main text-light" [disabled]="changePasswordForm.invalid || isLoading">
                <span *ngIf="!isLoading">change Password</span>
                <span *ngIf="isLoading" class="fas fa-spinner fa-spin"></span>
            </button>
        </div>
    </form>
</div>