<div class="for-forms mx-auto my-4">
    <h4 class="fw-bold text-main text-center">Verify Your Password Code</h4>
    <p class="alert alert-danger text-center" *ngIf="errorMessage">{{errorMessage}}</p>
    <p class="mb-0 mt-2 text-secondary font-sm">We Have Send You a Reset Code To Verify Your Password, Please Enter It Down There.</p>
    <form [formGroup]="verifyPasswordForm" (ngSubmit)="handleVerifyPasswordCode(verifyPasswordForm)">
        <label for="resetCode" class="mt-2">reset code:</label>
        <input type="text" name="resetCode" id="resetCode" class="form-control" formControlName="resetCode" autocomplete="off">
        <div class="text-danger" *ngIf="verifyPasswordForm.get('resetCode')?.invalid && verifyPasswordForm.get('resetCode')?.dirty">
            <p class="my-0" *ngIf="verifyPasswordForm.get('resetCode')?.getError('required')">Reset Code is required</p>
        </div>

        <div class="d-flex justify-content-end align-items-center mt-3">
            <button class="btn bg-main text-light" [disabled]="verifyPasswordForm.invalid || isLoading">
                <span *ngIf="!isLoading">Send</span>
                <span *ngIf="isLoading" class="fas fa-spinner fa-spin"></span>
            </button>
        </div>
    </form>
</div>